@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand: #2982FF;
  --deemphasized-text: #6B6B6B;
  --no-focus-input: #C8C8C8;
  --deemphasized-button-outline: #888888;
  --deemphasized-grid-outline: #E7E7E7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: var(--brand);
  --color-deemphasized-text: var(--deemphasized-text);
  --color-no-focus-input: var(--no-focus-input);
  --color-deemphasized-button-outline: var(--deemphasized-button-outline);
  --color-deemphasized-grid-outline: var(--deemphasized-grid-outline);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}
